Deliverable/x01-04-2017/WS_Client_Logout/xml-resources/web-service-references/WSTapTenance_Server/wsdl/localhost_8080/WS_Server/WSTapTenance_Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://taptenance.jm.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://taptenance.jm.org/" name="WSTapTenance_Server">
<types>
<xsd:schema>
<xsd:import namespace="http://taptenance.jm.org/" schemaLocation="http://localhost:8080/WS_Server/WSTapTenance_Server?xsd=1" />
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="signup">
<part name="parameters" element="tns:signup" />
</message>
<message name="signupResponse">
<part name="parameters" element="tns:signupResponse" />
</message>
<message name="disconnect">
<part name="parameters" element="tns:disconnect" />
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse" />
</message>
<portType name="WSTapTenance_Server">
<operation name="login">
<input wsam:Action="http://taptenance.jm.org/WSTapTenance_Server/loginRequest" message="tns:login" />
<output wsam:Action="http://taptenance.jm.org/WSTapTenance_Server/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="signup">
<input wsam:Action="http://taptenance.jm.org/WSTapTenance_Server/signupRequest" message="tns:signup" />
<output wsam:Action="http://taptenance.jm.org/WSTapTenance_Server/signupResponse" message="tns:signupResponse" />
</operation>
<operation name="disconnect">
<input wsam:Action="http://taptenance.jm.org/WSTapTenance_Server/disconnectRequest" message="tns:disconnect" />
<output wsam:Action="http://taptenance.jm.org/WSTapTenance_Server/disconnectResponse" message="tns:disconnectResponse" />
</operation>
</portType>
<binding name="WSTapTenance_ServerPortBinding" type="tns:WSTapTenance_Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="signup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="disconnect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSTapTenance_Server">
<port name="WSTapTenance_ServerPort" binding="tns:WSTapTenance_ServerPortBinding">
<soap:address location="http://localhost:8080/WS_Server/WSTapTenance_Server" />
</port>
</service>
</definitions>